<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Accepted Requests</ion-title>
    <ion-buttons slot="end" class="menuIcon">
      <ion-menu-button>
        <img src="../assets/img/menu.png" />
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="notificationWrap">
    <ion-item
      *ngFor="let inquiry of activeInquiries"
      (click)="openDetail(inquiry?.patientEnquiryId, inquiry?.id,  inquiry?.status)"
    >
      <ion-label>
        <h3>
          {{inquiry.patientDetails.clientName}}
          <span class="noScheCSS" *ngIf="!inquiry?.appointmentTime"
            >(not scheduled)</span
          >
        </h3>
        <p>{{inquiry.description}}</p>
      </ion-label>
      <ion-badge>{{inquiry.acceptTime}}</ion-badge>
    </ion-item>
    <ion-item *ngIf="activeInquiries?.length == 0">
      <ion-label>
        <p>No Records Found.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
