<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="notification"></ion-back-button>
    </ion-buttons>
    <ion-title>Accepted Requests</ion-title>   
    <ion-buttons slot="end" class="menuIcon">
      <ion-menu-button>
	  	<img src="../assets/img/menu.png"> 
	  </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="notificationWrap">
    <ion-item routerLink="/accepted-requests-details">
      <ion-label>
        <h3>John Due</h3>
        <p>Lorem ipsum dolor sit amet, consectetur </p>
      </ion-label>
      <ion-badge>3 min ago</ion-badge>
    </ion-item>
    <ion-item routerLink="/accepted-requests-details">
      <ion-label>
        <h3>Prashant Sharma</h3>
        <p>Lorem ipsum dolor sit amet, consectetur </p>
      </ion-label>
      <ion-badge>3 min ago</ion-badge>
    </ion-item>
    <ion-item routerLink="/accepted-requests-details">
      <ion-label>
        <h3>Sameer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur </p>
      </ion-label>
      <ion-badge>3 min ago</ion-badge>
    </ion-item>
    <ion-item routerLink="/accepted-requests-details">
      <ion-label>
        <h3>Tarun</h3>
        <p>Lorem ipsum dolor sit amet, consectetur </p>
      </ion-label>
      <ion-badge>3 min ago</ion-badge>
    </ion-item>
    <ion-item routerLink="/accepted-requests-details">
      <ion-label>
        <h3>Nav</h3>
        <p>Lorem ipsum dolor sit amet, consectetur </p>
      </ion-label>
      <ion-badge>3 min ago</ion-badge>
    </ion-item>
    <ion-item routerLink="/accepted-requests-details">
      <ion-label>
        <h3>Micheal</h3>
        <p>Lorem ipsum dolor sit amet, consectetur </p>
      </ion-label>
      <ion-badge>3 min ago</ion-badge>
    </ion-item>
    <ion-item routerLink="/accepted-requests-details">
      <ion-label>
        <h3>John Due</h3>
        <p>Lorem ipsum dolor sit amet, consectetur </p>
      </ion-label>
      <ion-badge>3 min ago</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
