<ion-content class="bg-blue">

 <ion-card class="formWrap">
  <ion-card-content>
    <h4>Sign up <ion-button><img src="../assets/img/close.png"></ion-button></h4>
    <ion-list>
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">License</ion-label>
          <ion-input></ion-input>
        </ion-item>   
        <ion-item>
          <ion-label position="stacked">Phone Number</ion-label>
          <ion-input></ion-input>
        </ion-item>  
        <ion-item>
          <ion-label position="stacked">Insurance</ion-label>
         <ion-select>

         
            <ion-select-option> Insurance</ion-select-option>
            <ion-select-option>Fidelis Care</ion-select-option>
            <ion-select-option>YourCare Option Plus</ion-select-option>
            <ion-select-option>YourCare Health Plan</ion-select-option>
            <ion-select-option>Crystal Run Health Plan</ion-select-option>
            <ion-select-option>Metroplus Health Plan FIDA</ion-select-option>
            <ion-select-option>Metroplus Health Plan Enhanced</ion-select-option>
            <ion-select-option>Metroplus Health Plan</ion-select-option>
            <ion-select-option>Centers Plan for Healthy Living</ion-select-option>
            <ion-select-option>Unicare Commercial</ion-select-option>
            <ion-select-option>Independent Health (All Commercial and State Plans)</ion-select-option>
            <ion-select-option>Independent Health's Medisource Connect</ion-select-option>
            <ion-select-option>Independent Health Association Inc</ion-select-option>
            <ion-select-option> Healthfirst</ion-select-option>
            <ion-select-option>Amida Care, Affinity Health Plan Enriched</ion-select-option>
            <ion-select-option>Affinity Health Plan</ion-select-option>
            <ion-select-option>Kalos Gold Plus</ion-select-option>
            <ion-select-option>other</ion-select-option>
          
        </ion-select>
        </ion-item>  
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>  
        <ion-item>
          <ion-label position="stacked">Gender</ion-label>
         <ion-select multiple>                  
          <ion-select-option value="Male">Male</ion-select-option>
           <ion-select-option value="Female">Female</ion-select-option>
          <ion-select-option value="Male">other</ion-select-option>
        </ion-select>
        </ion-item> 
       
        <ion-item>
          <ion-button class="yellowBtn" routerLink="/signup2" >next</ion-button>
        </ion-item>
         
    </ion-list>
   
  </ion-card-content>
</ion-card>
</ion-content>
