<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Notification</ion-title>   
    <ion-buttons slot="end" class="menuIcon">
      <ion-menu-button>
	  	<img src="../assets/img/menu.png"> 
	  </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="notificationWrap">
    <ion-item-sliding *ngFor="let notify of notificationData.data; let i = index" routerLink="/request-details">
      <ion-item >
        <ion-label>
          <h3>John Due</h3>
          <p>{{notify.body}}</p>
        </ion-label>
        <ion-badge>3 min ago</ion-badge>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary">
          <ion-icon slot="start" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          Accept
        </ion-item-option>
        <ion-item-option color="secondary">
          <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <!-- <ion-item routerLink="/request-details">
      <ion-label>
        <h3>Prashant Sharma</h3>
        <p>Lorem ipsum dolor sit amet, consectetur </p>
      </ion-label>
      <ion-badge>3 min ago</ion-badge>
    </ion-item>
    <ion-item routerLink="/request-details">
      <ion-label>
        <h3>Sameer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur </p>
      </ion-label>
      <ion-badge>3 min ago</ion-badge>
    </ion-item>
    <ion-item routerLink="/request-details">
      <ion-label>
        <h3>Tarun</h3>
        <p>Lorem ipsum dolor sit amet, consectetur </p>
      </ion-label>
      <ion-badge>3 min ago</ion-badge>
    </ion-item>
    <ion-item routerLink="/request-details">
      <ion-label>
        <h3>Nav</h3>
        <p>Lorem ipsum dolor sit amet, consectetur </p>
      </ion-label>
      <ion-badge>3 min ago</ion-badge>
    </ion-item>
    <ion-item routerLink="/request-details">
      <ion-label>
        <h3>Micheal</h3>
        <p>Lorem ipsum dolor sit amet, consectetur </p>
      </ion-label>
      <ion-badge>3 min ago</ion-badge>
    </ion-item>
    <ion-item routerLink="/request-details">
      <ion-label>
        <h3>John Due</h3>
        <p>Lorem ipsum dolor sit amet, consectetur </p>
      </ion-label>
      <ion-badge>3 min ago</ion-badge>
    </ion-item>-->
  </ion-list> 
</ion-content>
