<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="accepted-requests"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>   
    <ion-buttons slot="end" class="menuIcon">
      <ion-menu-button>
	  	<img src="../assets/img/menu.png"> 
	  </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="detailsInfo">
    <ion-row>
      <ion-col size="6" class="label">
          <ion-label>Client Name :</ion-label>        
      </ion-col>
       <ion-col size="6" class="info">
          <ion-label>John Due</ion-label>          
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="label">
        <ion-label>Phone Number :</ion-label>
      </ion-col>
       <ion-col size="6" class="info">
        <ion-label>123456789</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="label">
       <ion-label> Email :</ion-label>
      </ion-col>
       <ion-col size="6" class="info">
        <ion-label>upender.rawat@evontech.com</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="label">
        <ion-label>Insurance Provider :</ion-label>
      </ion-col>
       <ion-col size="6" class="info">
        <ion-label>Insurance</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="label">
       <ion-label>Insurance ID Number :</ion-label>
      </ion-col>
       <ion-col size="6" class="info">
        <ion-label>EN254871</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="label">
       <ion-label>Address :</ion-label>
      </ion-col>
       <ion-col size="6" class="info">
        <ion-label>A5, IT Park, </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="label">
       <ion-label>City :</ion-label>
      </ion-col>
       <ion-col size="6" class="info">
        <ion-label>Dehradun</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="label">
      <ion-label> Zip Code : </ion-label>
      </ion-col>
       <ion-col size="6" class="info">
        <ion-label>248001</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="label">
       <ion-label>Reason for seeking 
counseling currently  :</ion-label>
      </ion-col>
       <ion-col size="6" class="info">
        <ion-label>Anger Management</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="label">
       <ion-label>Looking to start 
services :</ion-label>
      </ion-col>
       <ion-col size="6" class="info">
        <ion-label>Immediately</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="label">
       <ion-label>Preferred Timeframe 
for Session :</ion-label>
      </ion-col>
       <ion-col size="6" class="info">
        <ion-label>Anytime</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="label">
      <ion-label> Provider Preference :</ion-label>
      </ion-col>
       <ion-col size="6" class="info">
        <ion-label>No Preference</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="label">
       <ion-label>Provider Gender 
Preference :</ion-label>
      </ion-col>
       <ion-col size="6" class="info">
       <ion-label> Male</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="label">
       <ion-label>Preferred Counseling 
Method :  </ion-label>
      </ion-col>
       <ion-col size="6" class="info">
        <ion-label>Person</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
