<ion-content class="bg-blue">
  <ion-list class="logoWrap">
    <ion-item text-center>
      <img alt="" src="../assets/img/logo.png" />
    </ion-item>
  </ion-list>
  <ion-card class="formWrap">
    <ion-card-content>
      <h4>Reset Password</h4>
      <form
        [formGroup]="resetPassForm"
        (ngSubmit)="submitForm(resetPassForm.value)"
      >
        <ion-list lines="none">
          <ion-item class="hideErrorLine">
            <ion-label position="stacked">OTP</ion-label>
            <ion-input
              formControlName="otp"
              [class.error-input]="isSubmitted && errorControl.otp.errors"
            ></ion-input>
          </ion-item>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.otp.errors?.required"
          >
            OTP is required.
          </span>

          <ion-item class="hideErrorLine">
            <ion-label position="stacked">New Password</ion-label>
            <ion-input
              type="password"
              formControlName="password"
              [class.error-input]="isSubmitted && errorControl.password.errors"
            ></ion-input>
          </ion-item>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.password.errors?.required"
          >
            Password is required.
          </span>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.password.errors?.pattern"
          >
            Password must contain atleast 8 characters with one special
            character, one capital and one small letter.
          </span>

          <ion-item class="hideErrorLine">
            <ion-label position="stacked">Confirm Password</ion-label>
            <ion-input
              type="password"
              formControlName="confirmPassword"
              [class.error-input]="isSubmitted && errorControl.confirmPassword.errors"
            ></ion-input>
          </ion-item>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.confirmPassword.errors?.required"
          >
            Confirm Password is required.
          </span>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.confirmPassword.errors?.mustMatch"
          >
            Passwords must match.
          </span>

          <ion-item>
            <ion-button type="submit" class="yellowBtn">Submit</ion-button>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
