<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end" class="menuIcon">
      <ion-button routerLink="/notification">
        <img src="../assets/img/notification.png" />
        <ion-badge class="notiCount">10</ion-badge>
      </ion-button>
      <ion-menu-button>
        <img src="assets/img/menu.png" />
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="bg-blue">
    <ion-row>
      <ion-col class="profileImgWrap" (click)="editProfile()">
        <img [src]="profileImage" *ngIf="profileImage" />
        <img alt="" src="../assets/img/profile-pic.png" *ngIf="!profileImage"/>

        <img *ngIf = "toEditprofile" src="../assets/img/edit.png" alt="" class="cameraIcon"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="userInfo">
    <ion-row>
      <ion-col>
        <h2 [hidden]="toEditprofile">
          {{user?.name}}
          <ion-button (click)="toEditprofile = !toEditprofile"
            >
            <img src="../assets/img/edit.png" alt=""
          /></ion-button>
        </h2>

        <!-- <h2 [hidden]="!toEditprofile">
          <ion-button color="warning">Save</ion-button>
        </h2> -->
        <p
          [hidden]="toEditprofile"
          *ngFor="let expertise of user?.expertises | slice:0:1"
          class="name"
        >
          {{expertise.expertise}}
          <ion-text
            *ngIf="user?.expertises?.length > 1"
            class="showMore"
            (click)="presentPopover()"
            title="Show more"
            >...</ion-text
          >
        </p>

        <p [hidden]="toEditprofile">{{user?.license.license}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-view-profile [hidden]="toEditprofile" [user]="user"></app-view-profile>
  <app-edit-profile
    *ngIf="toEditprofile"
    [user]="user"
    (userData)="emitSaveProfile($event)"
    [masterData]="masterData"
  ></app-edit-profile>
</ion-content>
