<ion-content class="bg-blue">
  <ion-list class="logoWrap">
    <ion-item text-center>
      <img alt="" src="../assets/img/logo.png" />
    </ion-item>
  </ion-list>
  <ion-card class="formWrap">
    <ion-card-content>
      <h4>Forgot Password</h4>
      <form
        [formGroup]="forgotPassForm"
        (ngSubmit)="submitForm(forgotPassForm.value)"
      >
        <ion-list lines="none">
          <ion-item class="hideErrorLine">
            <ion-label position="stacked">Email Id</ion-label>
            <ion-input
              formControlName="email"
              [class.error-input]="isSubmitted && errorControl.email.errors"
            ></ion-input>
          </ion-item>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.email.errors?.required"
          >
            Email is required.
          </span>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.email.errors?.pattern"
          >
            Please provide valid email id.
          </span>

          <ion-item>
            <ion-button type="submit" class="yellowBtn">Submit</ion-button>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
