<ion-content class="bg-blue">
  <ion-list class="logoWrap">
    <ion-item text-center>
      <img alt="" src="../assets/img/logo.png" />
    </ion-item>
  </ion-list>
  <ion-card class="formWrap">
    <ion-card-content>
      <ion-card-content>
        <h2 class="text-center text">
          Congratulations! You have been successfully registered. A verification
          link has been sent to your email. Please verify your email to login.
        </h2>
        <a style="text-decoration: none" routerLink="/login"
          ><h2 class="text-center gotoLink">Go to Login Page</h2></a
        >
      </ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
