/* DOES NOT WORK - not specific enough */
.popover-content {
    background: #222;
  }
  
  /* Works - pass "my-custom-class" in cssClass to increase specificity */
  .my-custom-class .popover-content {
    background: #222;
    //width: 90%;
  }
  
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
  
  ion-list-header {
    font-size: 18px;
    font-weight: 500;
  }

.download {
    --background: #ecc716;
    --background-activated: #ecc716;
    --background-focused: #ecc716;
    --background-hover: #ecc716;
    --box-shadow: none;
    --background-hover: #ecc716;
    color: #1b356b;
}
.expandBtn {
    margin: 0 auto;
  }
  