ion-grid{
    &.detailsInfo{
        padding-left:5px;
        padding-right:0px;
        padding-top: 20px;
        padding-bottom:20px;
        ion-col{    
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            &.info{            
                font-weight: 500;
                font-size:14px;
                padding-right: 0px;
                display:flex;
                ion-label {
                    align-self: center;
                }
            }
            &.label{
                color: #303030;
                font-weight: 400;
                font-family: 'Source Sans Pro', sans-serif;
                font-size:16px;
                
            }
            ion-label {
                word-break: break-word;
                line-height: 1.4;
            }
        }
        ion-row{
            &:nth-child(even){
                .info{
                    background:#e2e2e2;
                    color: #2b2b2c;
                }
            }
            &:nth-child(odd){
                .info{
                    background:#1c366b;
                    color: #fff;
                }
            }
        }
    }
    &.downloadRejectBtns{
        padding:0px 7.5px;
        padding-bottom: 30px;
        ion-col{
            padding:0px 7.5px;
        }
        ion-button{            
            width: 100%;
            height: 50px;
            --border-radius: 8px;
            font-weight: 700;
            font-family: "Roboto", sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 0;
            margin:0px;
            &.download{
                --background: #ecc716;
                --background-activated: #ecc716;
                --background-focused: #ecc716;
                --background-hover: #ecc716;
                --box-shadow: none;
                --background-hover: #ecc716;
                color: #1b356b;
            }
            &.reject{
                --background: #d8d8d8;
                --background-activated: #d8d8d8;
                --background-focused: #d8d8d8;
                --background-hover: #d8d8d8;
                --box-shadow: none;
                --background-hover: #d8d8d8;
                color: #353535;
            }
            
        }
        
    }
    
}